<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8">
<title>page_1</title>

</head>
<body>
html 태그 연습1 : 글자 관련 태그<br>
<font size="8" color="red" face="바탕"><b>글자1</b>비교</font><br>
<font size="2" color="#ff6600" face="돋움"><i>글자2</i>비교</font><br>
<font size="3" color="#ffff00"><u>글자3</u></font><br>
<font size="4" color="#339900">글자4</font><br>
<font size="5" color="#3300ff"><strike>글자</strike><sup>5</sup></font><br>
<font size="6" color="#330066">글자<sub>6</sub></font><br>
<font size="7" color="#9900ff"><big>글자7</big></font><br>
</body>
</html>